:root {
    --light-fg-color: #BBB;
    --light-bg-color: #025;
    --dark-bg-color: #004;
    --margin-bg-color: #222;
    --dark-fg-color: #EEE;
    --link-color: #FA0;
    --visited-link-color: #C60
}
