:root {
    --backdrop-bg-color: #AAA;
    --content-bg-color: #DDD;
    --content-fg-color: #222;
    --highlight-color: #128;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--backdrop-bg-color);
    color: var(--content-fg-color);
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

main {
    max-width: 1000px;
}

article {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inline-text-list {
    list-style-type: none;
}

.boxed-block {
    background-color: var(--content-bg-color);
    border: medium solid var(--content-fg-color);
    border-radius: 2em;
    margin: 1rem;
    padding: 0.5rem 2rem;
}

/* Bubble Animations|------------------------------------------- */

.bubble {
    overflow: hidden;
    animation: 0.3s ease-in-out 0s 1 normal none running bubble-right;
}

.bubble-down {
    animation-name: bubble-down;
}

.bubble-left {
    animation-name: bubble-left;
}

.bubbleright {
    animation-name: bubble-right;
}

@keyframes bubble-down {
    0% {
	transform: translate(0, -5rem);
	opacity: 0;
    }

    100% {
	transform: translate(0, 0);
	opacity: 1.0;
    }
}

@keyframes bubble-left {
    0% {
	transform: translate(5rem, 0);
	opacity: 0;
    }

    100% {
	transform: translate(0, 0);
	opacity: 1.0;
    }
}

@keyframes bubble-right {
    0% {
	transform: translate(-5rem, 0);
	opacity: 0;
    }

    100% {
	transform: translate(0, 0);
	opacity: 1.0;
    }
}

#header-avatar {
    width: 4em;
    height: 4em;
}
