.number-breakdown {
    padding: 1em;
    display: grid;
    gap: 0.2em;
}

.number-breakdown p {
    border-radius: 0.2em;
    margin: 0;
    padding: 0.2em;
    text-align: center;
}

.light .breakdown-container {
    background-color: var(--light-bg-color);
}

.dark .breakdown-container .number-breakdown p {
    background-color: var(--dark-bg-color);
}

.dark .breakdown-container {
    background-color: var(--light-bg-color);
}

.light .breakdown-container .number-breakdown p {
    background-color: var(--light-bg-color);
}

.decimal {
    grid-template: auto auto / repeat(9, min-content);
}

.binary {
    grid-template: auto auto / repeat(15, min-content);
}

.breakdown-container {
    border-radius: 1em;
    display: flex;
    overflow-x: scroll;
}

@media (min-width: 600px) {
    .breakdown-container {
	overflow-x: visible;
    }
}
